
torch>=2.0.0
torchvision>=0.15.0

# Monitoring
psutil

# Traitement d'images & Données
numpy<2.0.0,>=1.24.0
scikit-learn
Pillow>=9.5.0
tqdm>=4.65.0

# Interface & API
gradio>=4.0.0,<5.0.0
huggingface-hub

# Visualisation & Analyse
matplotlib>=3.7.0